
/* #Site Styles
================================================== */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: url(../img/Andromeda-Wallpaper.jpg);
  background-position: center;
  border: 10px solid #000;
}

body{
  background-color: transparent;
}

section{
  margin: 0 auto;
  width: 88px;
  height: auto;
  margin-top: 80px;
  border: 2px solid #c13400;
  clear: both;
}

section article{
  border-bottom: 2px solid #c13400;
  width: 300px;
  height: 80px;
}

section article:nth-child(1){
  background: #ff3401;
}

section article:nth-child(2){
  background: #ff6100;
}

section article:nth-child(3){
  background-image: radial-gradient(ellipse , #b03c00 ,  #f64d00 60%);
}

section article:nth-child(2){
  background: #ff6100;
}




/* Icons
================================================== */




/* Helper Classes
================================================== */

.center {
  text-align: center;
}



/*borders*/
.red {
  border: 1px solid red;
}


/*Vertically Middle*/
.middle-outer {
  display: table;
  height: 100%;
  width: 100%;
}
/*

.middle-outer:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
*/

.middle-inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
/*
  display: inline-block;
  margin-left: -0.25em;
  vertical-align: middle;
*/
}

/*Float*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}



/* #Media Queries
================================================== */
/* Standard 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {}


/* Standard 960 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1199px) {}


	
/* Landscape (devices and browser) */
@media only screen and (max-width: 979px) {}

/* Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 784px) {}

    
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}





/* #Font-Face-Icons
================================================== */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icons/icomoon.eot');
	src:url('../fonts/icons/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icons/icomoon.woff') format('woff'),
		url('../fonts/icons/icomoon.ttf') format('truetype'),
		url('../fonts/icons/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

